.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
/* .d-flex{
    margin-top: 50px;;
} */

.card-hotel{
    flex: 1 200px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.tab-content{
    padding-top: 10px;;
}


footer{
    margin-top: 20px;
    padding: 20px;
    background-color: yellow;
}

.footer-address-icon{
    padding-right: 10px;
}   