.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 20px;
  margin-bottom: 0;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 20px;
  margin-bottom: 0;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
.tab-content {
  padding-top: 10px;
}
footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #fffa19;
}
.footer-address-icon {
  padding-right: 10px;
}
