@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(20px, 0) }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(20px, 0) }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0; }
  
  .tab-content {
    padding-top: 10px; }
  
  footer {
    margin-top: 20px;
    padding: 20px;
    background-color: @yellow; }
  
  .footer-address-icon {
    padding-right: 10px; }