$yellow: #fffa19;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px,0 );
}

.card-hotel{
    flex: 1 200px;
    @include margenes(20px,0 );
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.tab-content{
    padding-top: 10px;;
}

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: $yellow;
}

.footer-address-icon{
    padding-right: 10px;
}   